.CreateTodoButton {
    background-color: #2796f3;
    /* box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5); */
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    left: 0px;
    bottom: 24px;
    right: 0px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    outline: no;
    height: 40px;
    width: 60%;

    /* transform: rotate(0);
    transition: .3s ease; */

    z-index: 1;
}
.CreateTodoButton-of{
background-color: #d6d6d6;
}

.sign-plus {
    text-align: center;
    margin: 0 0px 0 0px;
    padding-left: 15px;
    width: 10%;
    height: 70%;
    background-image: url('../icons/write-a-note.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    filter: invert(99%) sepia(1%) saturate(996%) hue-rotate(294deg) brightness(113%) contrast(100%);
}

@media(min-width:768px){

    .CreateTodoButton{
        width: 25%;
        left: 425px;
    }
}
@media(min-width:1024px) {

    .CreateTodoButton {
        left: 453px;
        width: 18.5%;
    }
}

@media(min-width:1280px) {

    .CreateTodoButton {
        left: 562px;
        width: 18.5%;
    }
}

@media(min-width:1440px) {

    .CreateTodoButton {
        left: 600px;
        width: 18.5%;
    }
}



/* .CreateTodoButton:hover {
    transform: rotate(90deg);
} */